.container-fluid {
  height: 100vh;
}

.homepage{
  
}
.bg-light {
  opacity: 0.8 !important;
 
}

h1 {
  font-family: Arial, sans-serif;
  color: rgb(61, 91, 160) !important;
}
p.lead{
  color: rgb(1, 4, 25) !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.background{
  /* background-color: rgb(198, 216, 255); */
  background-image:url(../img/babcock-students.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
}

@media (max-width: 768px) {
  .homepage {
    padding: 20px;
  }

  .row {
    flex-direction: column-reverse;
  }

  .col-md-6 {
    width: 100%;
    text-align: center;
  }

  .col-md-6 img {
    width: 100%;
    margin-top: 20px;
  }
}
